In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("bank.csv")

In [3]:
dataset.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes

In [4]:
dataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [5]:
dataset.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [6]:
inputs = dataset.iloc[:,-16:].values
outputs = dataset.iloc[:,-1:].values

In [7]:
inputs[0:2]

array([['admin.', 'married', 'secondary', 'no', 2343, 'yes', 'no',
        'unknown', 5, 'may', 1042, 1, -1, 0, 'unknown', 'yes'],
       ['admin.', 'married', 'secondary', 'no', 45, 'no', 'no',
        'unknown', 5, 'may', 1467, 1, -1, 0, 'unknown', 'yes']],
      dtype=object)

In [8]:
outputs.shape

(11162, 1)

In [9]:
outputs

array([['yes'],
       ['yes'],
       ['yes'],
       ...,
       ['no'],
       ['no'],
       ['no']], dtype=object)

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(inputs,outputs,test_size = 0.2, random_state = 0)

In [13]:
print('Inputs shape ', inputs.shape)
print('Outputs shape ', outputs.shape)
print('x_train shape ', x_train.shape)
print('x_test shape ', x_test.shape)
print('y_train shape ', y_train.shape)
print('y_test shape', y_test.shape)

Inputs shape  (11162, 16)
Outputs shape  (11162, 1)
x_train shape  (8929, 16)
x_test shape  (2233, 16)
y_train shape  (8929, 1)
y_test shape (2233, 1)

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
sc = StandardScaler()

In [16]:
x_train

array([['management', 'married', 'secondary', ..., 0, 'unknown', 'no'],
       ['retired', 'divorced', 'secondary', ..., 0, 'unknown', 'yes'],
       ['blue-collar', 'married', 'primary', ..., 0, 'unknown', 'yes'],
       ...,
       ['unknown', 'married', 'secondary', ..., 0, 'unknown', 'no'],
       ['admin.', 'married', 'secondary', ..., 0, 'unknown', 'no'],
       ['retired', 'married', 'primary', ..., 0, 'unknown', 'yes']],
      dtype=object)

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

NameError: name 'x' is not defined

In [ ]:
x_train.shape

In [ ]:
y_train.shape

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
categorical = Sequential()

In [ ]:
categorical.add(Dense(units =6 ,kernel_initializer = "random_uniform",activation = "relu"))

In [ ]:
categorical.add(Dense(units =12 ,kernel_initializer = "random_uniform",activation = "relu"))

In [ ]:
categorical.add(Dense(units =12 ,kernel_initializer = "random_uniform",activation = "relu"))

In [ ]:
categorical.add(Dense(units =12 ,kernel_initializer = "random_uniform",activation = "relu"))

In [ ]:
categorical.add(Dense(units = 7,kernel_initializer = "random_uniform",activation ="softmax" ))

In [ ]:
categorical.compile(optimizer = "rmsprop",loss = "categorical_crossentropy",metrics = ["accuracy"])

In [ ]:
categorical.fit(x_train,y_train, epochs = 350)

In [ ]:
ypred = categorical.predict(x_test)

In [ ]:
ypred

In [ ]:
np.argmax(ypred[0])

In [ ]:
ypred = ypred >0.5

In [ ]:
#[1,0,0,0,0,0] = "bream"
#[0,0,1,0,0,0] = "perch"
#[0,0,1,0,0,0] = "perch"

In [ ]:
ypred[11:20]

In [ ]:
y_test[11:20]

In [ ]:
yp =categorical.predict(sc.transform([[324,17.5,345.8,21.2,5.5756,2.9044]]))

In [ ]:
np.argmax(yp)

In [ ]:
species = ["Bream","Parkki","Perch","pike","roach","smelt","whitefish"]
prediction = species[np.argmax(yp)]

In [ ]:
prediction

In [ ]:
np.argmax(yp)

In [ ]:
species[0]

In [ ]:
pip install tensorflow

In [ ]:
from tensorflow.keras.models import Sequential  
from tensorflow.keras.layers import Dense